

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    font-family: 'Open Sans', sans-serif;
}

.portfolio-image img, .tabs a img {
    border-radius: 50%;
}

.tab-list ul {
    list-style-type: none;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
    /*.row1 {
        padding-bottom: 0px;
    }*/

    /*.portfolio-image {
        border-right: 0px;
    }*/

    /*.portfolio-category {
        display: inline-block;
    }

    .portfolio-category {
        width: 19%;
    }*/
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {

}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
    .row1 {
        padding-bottom: 40px;
        border-bottom: 1px solid #999;
    }

    .portfolio-image {
        width: 100%;
        text-align: center;
        border-right: 1px solid #999;
    }

    .portfolio-info {
        text-align: center;
    }

    .row2 {
        padding-top: 40px;
    }

    .tab-list {
        width: 100%;
        border-right: 1px solid #999;
        text-align: center;
    }

    .tab-list ul {
        padding: 0px;
    }

    .tabs {
        margin-bottom: 20px;
    }

    /*.portfolio-menus {
        width: 100%;
        border-right: 1px solid #999;
        padding-left: 30px;
    }

    .portfolio-menu {
        margin-bottom: 20px;
    }

    .portfolio-menu img {
        border-radius: 50%;
        margin-right: 15px;
    }*/

    /*.portfolio-portfolio {
        width: 100%;
    }*/
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}

/* hi-res laptops and desktops */
@media (min-width:1281px) {

}